.uploadContainer {
    margin-top: 10px;
  }
  
  .fileInput {
    display: none;
  }
  
  .uploadButton {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .uploadButton:hover {
    background-color: #166fe5;
  }